<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/river.css" />
    <script type="text/javascript" src="javascript/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="javascript/imagesloaded.pkgd.min.js"></script>
    <script>
      
    </script>
    <script>
      $(document).ready( function() {
        var $grid = $('.grid').masonry({
          columnWidth: 120,
          itemSelector: '.grid-item'
        });

        $grid.on( 'click', '.grid-item-content', function() {
          $( this ).parent('.grid-item').toggleClass('is-expanded');
          $grid.masonry();
        });
      });
    </script>
     <!--
        $(function(){
        $('.grid').imagesLoaded(function () {
          $('.grid').masonry({        
            itemSelector: '.grid-item-content',
            columnWidth: 120,
            animate:true
          });
        });
        -->
    <style>
      
    </style>
  </head>
  <body>
    <h1>Hello world 老梗</h1>
    <!-- <div id="_container" style="height:800px; width:728px; overflow:hidden; margin:0 auto;">         -->
      <div class="grid">
        <div class="grid-item">
          <div class="grid-item-content"><img src="img/a0.jpg"></div>
        </div>
        <div class="grid-item">
          <div class="grid-item-content"><img src="img/a1.jpg"></div>
        </div>
        <div class="grid-item">
          <div class="grid-item-content"><img src="img/a2.jpg"></div>
        </div>
        <div class="grid-item">
          <div class="grid-item-content"><img src="img/a3.jpg"></div>
        </div>
        <div class="grid-item">
          <div class="grid-item-content"><img src="img/a4.jpg"></div>
        </div>
        <div class="grid-item">
          <div class="grid-item-content"><img src="img/a5.jpg"></div>
        </div>
        <div class="grid-item">
          <div class="grid-item-content"><img src="img/a6.jpg"></div>
        </div>
        <div class="grid-item">
          <div class="grid-item-content"><img src="img/a7.jpg"></div>
        </div>
        <div class="grid-item">
          <div class="grid-item-content"><img src="img/a8.jpg"></div>
        </div>
        <div class="grid-item">
          <div class="grid-item-content"><img src="img/a9.jpg"></div>
        </div>

      </div>
      <!--  </div> -->

  </body>
</html>

