<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="javascript/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="javascript/imagesloaded.pkgd.min.js"></script>
    <script>
      $(function(){
        $('#_container').imagesLoaded(function () {
          $('#_container').masonry({        
            itemSelector: '.content_box',
            columnWidth: 364,
            animate:true
          });
        });
      });
    </script>
    <style>
      .content_box{
        display: inline-block;
        border: 1px dotted #4F4F4F;
        padding: 10px;
        margin: 5px 5px 5px 0;
        overflow:hidden;
        width:337px;
      }
    </style>
  </head>
  <body>
    <h1>Hello world 老梗</h1>
    <div id="_container" style="height:800px; width:728px; overflow:hidden; margin:0 auto;">         
      <div class="content_box"><img src="img/a0.jpg"></div>
      <div class="content_box"><img src="img/a1.jpg"></div>
      <div class="content_box"><img src="img/a2.jpg"></div>
      <div class="content_box"><img src="img/a3.jpg"></div>
      <div class="content_box"><img src="img/a4.jpg"></div>
      <div class="content_box"><img src="img/a5.jpg"></div>
      <div class="content_box"><img src="img/a6.jpg"></div>
      <div class="content_box"><img src="img/a7.jpg"></div>
      <div class="content_box"><img src="img/a8.jpg"></div>
      <div class="content_box"><img src="img/a9.jpg"></div>
    </div>
  </body>
</html>

